
body{
font-family:"Roboto", sans-serif;

}

li { 
list-style-type: none;
}

.logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3
}   

.logo-header{
    color:#000000;
}

.section{
    
}

.item{

}

.list{

}

.features-title{

}

.features-list{

}

.features-item{

}

.item-title{

}

.team{
    background-color:#F5F4FA;
}

.Product-designer{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1632px;  
    text-align: center
}

.Frontend-deveoper{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1632px;
    text-align: center
}

.Marketing{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 815px;
    top: 1632px;
    text-align: center
}

.UI-designer{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1632px;
    text-align: center
}

.footer{

}

h1{

}

h2{
color:#212121;
}

.container{
flex-basis: auto;
margin: 0 auto;
}


.features-list{
    display: flex;
}

.footer-addres{
    flex-direction: column
}

.logo-footer{
color:darkblue;
height: 31px;
width: 145px;
left: 215px;
top: 2154px;    

  /* ПОСТАВИТИ БІЛИЙ!!!! */
}

