body{
font-family:"Roboto", sans-serif;
background: #FFFFFF;
color: #212121;
}

ul,li,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.container{
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.list{
    list-style-type: none;
    padding: 0;
}

.link{
    text-decoration: none;
}

.item{
    text-decoration: none;
}

.page-header{
display: flex;
align-items: center;
}

.logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #2196F3;
text-decoration: none;
}   

.logo-header{
    
}

.logo-header-color{
 color:#000000;
}

.site-nav{
display: flex;
}
    
.nav-list{
display: flex;
}

.nav-list .item:not(:last-child){
    margin-right: 50px;
}

.nav-list .item:first-child{
    margin-left: 93px;
}

.nav-list .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-addres{
    display: flex;
    padding-top:32px;
    margin-left: 344px;
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 0;
}

.site__addres-item{
padding-right: 50px;
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}

.site__addres-item:last-child{
    padding-right: 0;
}

.section-hero{
background: #2F303A;
height: 200px;
padding-top: 200px;
padding-bottom: 200px;
}

.hero-title{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    margin-left: 92px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:#F5F4FA;
    margin-top: 0;
    margin-bottom: 0;
    width: 696px;
}

.hero-button{
margin-left: 364px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 0px;
color:#F5F4FA;
margin-top: 30px;
height: 50px;
width: 216px;
padding: 0px;
}

.button{
    background:#ffff;
    border: #F5F4FA;
}

.button:hover{
color:#2196F3;
}

.item:last-child{
    padding-right:0;
}

.features-title{
padding-top: 94px;
}

.features-list{
display: flex;
margin-right: 30px;
}

.features-list:last-child{
    margin-right: 0px;
}

.features-item{

}

.item-title{

}

.section-work{
    padding-bottom: 94px;
    padding-top: 118px;
}

.work-title{
    width: 366px;
    margin-left: 257px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}

.work-list{
display: flex;
margin-top: 0;
margin-bottom: 0;
padding: 0;
}

.work-item{
margin-right: 30px;
}

.work-item:last-child{
    margin-right: 0;
}

.section-team{
background: #F5F4FA;
Width:1600px;
Height:648px;
}

.team-title{
padding-right: 668p;
padding-left: 668px;
text-align:center;
Width:264px;
Height:42px;
}

.team-list{
display:flex;
padding-left: 0;
margin: 0;
}

.team{
text-align: center;
Height:368px;
margin-right: 30px;
box-shadow: 
1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

p{
    color: #757575;
}

.team:nth-child(1){
margin-left: 215px;
}

.team:nth-child(4) {
margin-right: 215px;
}
 
h2{
color:#212121;
margin: 0;
}

.footer{
    padding-bottom: 60px;
    padding-top: 60px;
    background:#2F303A;
}

.logo_footer-color{
color:white;
}

.footer-addres{
margin-top: 20px;
}

.address{
    color: #FFFFFF;
}

.address-item{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    padding-top: 9px;
}

.section-portfolio{
    background: #F5F5F5;
}

.button-portfolio{
    background: #F5F4FA;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-item{
    height: 404px;
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}